TecnopotifyWeb/src/conf/xml-resources/web-service-references/Tecnopotify/wsdl/localhost_2425/Tecnopotify.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://interfaces.tecnopotify.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://interfaces.tecnopotify.edu/">

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="contrasenia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="f_nac" type="tns:dataFecha" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="lstSeguidos" type="tns:usuario" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="mail" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataFecha">
<xs:sequence>
<xs:element name="anio" type="xs:int"></xs:element>
<xs:element name="dia" type="xs:int"></xs:element>
<xs:element name="mes" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="album">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="anioCreado" type="xs:int"></xs:element>
<xs:element name="imagenAlbum" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="listTemas" type="tns:temas" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listGenero" type="tns:genero" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listFavoritos" type="tns:favoritos" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="temas">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="duracion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="posicion" type="xs:int"></xs:element>
<xs:element name="archivo" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="genero">
<xs:sequence>
<xs:element name="listAlbum" type="tns:album" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listHijos" type="tns:genero" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listasReprGenero">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"></xs:element>
<xs:element name="value" minOccurs="0" type="tns:listaDefecto"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="padre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaDefecto">
<xs:complexContent>
<xs:extension base="tns:listaReproduccion">
<xs:sequence>
<xs:element name="genero" type="tns:genero" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="listaReproduccion">
<xs:sequence>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="listaTemas" type="tns:temas" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="favoritos">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="listAlbum" type="tns:album" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listRep" type="tns:listaReproduccion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listTemas" type="tns:temas" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:complexContent>
<xs:extension base="tns:usuario">
<xs:sequence>
<xs:element name="fav" type="tns:favoritos" minOccurs="0"></xs:element>
<xs:element name="listasReprParticular" type="tns:listaParticular" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="suscripcion" type="tns:suscripcion" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="listaParticular">
<xs:complexContent>
<xs:extension base="tns:listaReproduccion">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"></xs:element>
<xs:element name="esPrivada" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="suscripcion">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="f_vence" type="tns:dataFecha" minOccurs="0"></xs:element>
<xs:element name="status" type="tns:estado" minOccurs="0"></xs:element>
<xs:element name="cuota" type="tns:pago" minOccurs="0"></xs:element>
<xs:element name="suscripto" type="tns:cliente" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="artista">
<xs:complexContent>
<xs:extension base="tns:usuario">
<xs:sequence>
<xs:element name="biografia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="link" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="listAlbum" type="tns:album" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dataUsuario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="contrasenia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="f_nac" type="tns:dataFecha" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="lstSeguidos" type="tns:usuario" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="mail" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataListaReproduccion">
<xs:sequence>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="listaTemas" type="tns:temas" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataGenero">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="padre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataAlbum">
<xs:sequence>
<xs:element name="anioCreado" type="xs:int"></xs:element>
<xs:element name="imagenAlbum" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="listGeneros" type="tns:genero" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listTemas" type="tns:temas" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listdataGeneros" type="tns:dataGenero" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataTemas">
<xs:sequence>
<xs:element name="archivo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="duracion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="listaR">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"></xs:element>
<xs:element name="value" minOccurs="0" type="tns:listaReproduccion"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="posicion" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="estado">
<xs:restriction base="xs:string">
<xs:enumeration value="PENDIENTE"></xs:enumeration>
<xs:enumeration value="VENCIDA"></xs:enumeration>
<xs:enumeration value="VIGENTE"></xs:enumeration>
<xs:enumeration value="CANCELADA"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="pago">
<xs:restriction base="xs:string">
<xs:enumeration value="SUSCRIPCION_PENDIENTE"></xs:enumeration>
<xs:enumeration value="SEMANAL"></xs:enumeration>
<xs:enumeration value="MENSUAL"></xs:enumeration>
<xs:enumeration value="ANUAL"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>